table {
    text-align: center;
    border: 1px solid #000000;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #000000;
    padding-left: 5px;
    padding-right: 5px;
}

th {
    background: #000000;
    color: #FFFFFF;
}

tr:nth-child(odd) {
    background: #FFFFFF;
}

tr:nth-child(even) {
    background: #EEEEEE;
}

/* TODO: render number, then replace text with CSS */
td.slots {
    font-family: monospace;
}

td.other div {
    display: inline-block;
    vertical-align: middle;
}

img.weapon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

img.element {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

svg.sharpness {
    border: 2px solid #000000;
    min-width: 80px;
    min-height: 20px;
    vertical-align: middle;
    background-color: #000000;
}

svg.sharpness rect.red {
    fill: #ff0000;
}

svg.sharpness rect.orange {
    fill: #ff9900;
}

svg.sharpness rect.yellow {
    fill: #ffff00;
}

svg.sharpness rect.green {
    fill: #00ff00;
}

svg.sharpness rect.blue {
    fill: #0000ff;
}

svg.sharpness rect.white {
    fill: #ffffff;
}

form {
    /* Let the fieldsets be side by side */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 10px;
}

fieldset {
    min-width: 250px;
}

div.field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

div.field * {
    flex: 1 50%;
    padding: 5px;
}

label {
    text-align: right;
}
